* {
  font-family: "Nunito Sans", sans-serif;
}

header {
  will-change: transform, opacity;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(48px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.transition-slide-up {
  animation: slideUpFadeIn 400ms cubic-bezier(0.4, 2, 0.6, 1) both;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b6e6e3;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #129990;
}
/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b6e6e3 #f8fefd;
}
